$sample-color-1: #161616;
$sample-color-2: #292929;
$sample-color-3: #444444;
$sample-color-4: #666666;
$sample-color-5: #8f8f8f;
$sample-color-6: #b5b5b5;
$sample-color-7: #e7e7e7;
$sample-color-8: #efefef;
$sample-color-9: #f8f8f8;

$white-color: #ffffff;
$black-color: #000000;
