@font-face {
  font-family: "Font Sample 01";
  src: url("@assets/fonts/FontSample01.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
}

@font-face {
  font-family: "Font Sample 02";
  src: url("@assets/fonts/FontSample02.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
}
